[user]
	name = Chet Husk
	email = chet_husk@volusion.com

[core]
	autocrlf = true
	editor = 'C:/Program Files/Sublime Text 3/subl.exe' -n -w

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(yellow)<%an>%Creset' --abbrev-commit
	rh = reset --hard
	co = checkout
	st = status
	s = status
	clr = checkout -- .
	com = checkout master
	isin = !git merge-base --is-ancestor
	df = diff -w --minimal --word-diff=color

[color]
	ui = auto

[color "status"]
	untracked = bold yellow
	changed = bold yellow

[push]
	default = simple

[branch]
	autosetupmerge = always
	autosetuprebase = always

[diff]
    tool = kdiff3
 
[merge]
    tool = kdiff3

[mergetool "kdiff3"]
    cmd = \"C:\\\\Program Files\\\\KDiff3\\\\kdiff3\" $BASE $LOCAL $REMOTE -o $MERGED
    keepBackup = false
    trustExitCode = false    
 
[credential]
	helper = !'C:\\Users\\chet_husk\\AppData\\Roaming\\GitCredStore\\git-credential-winstore.exe'
[rerere]
	enabled = true
